.sidebarProject{
  position: relative;
  width: 250px;
  height: auto ;
  color: var(--black);
  background-color: var(--gray);
  margin-bottom: 40px;
  border-radius: 12px;
}

.name {
  font-size: 20px;
  text-align: center;
  margin: 0 7px;
}

.description {
  font-size: 16px;
  margin: 0 5px 5px 15px;
}

a {
  background: linear-gradient(0deg, var(--primary), var(--primary)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;

}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: var(--white);

}


.delete {
  opacity: 0.2;
  cursor: pointer;
  transition: opacity ease 0.5s;
  margin: 5px 0 0 230px;
  &:hover {
    opacity: 1;
  }
}

.delete::before,
.delete::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 14px;
  height: 2px;
  background: var(--red);
}

.delete::before {
  transform: rotate(45deg);
}

.delete::after {
  transform: rotate(-45deg);
}

.edit__button {
  opacity: 0.2;
  position: absolute;
  cursor: pointer;
  top: 3px;
  margin: 3px 0 0 3px;
  left: 5px;
  background-color: var(--gray);
  transition: all 0.2s linear;
  &:hover {
    scale: 1.25;
    opacity: 1;
    > svg * {
      fill: var(--primary-hover)
    }
  }
}

.form {
  position: relative;
  width: 250px;
  height: auto ;
  background-color: var(--blue);
  margin-bottom: 40px;
  border-radius: 12px;
}

.input__form__name {
  border-radius: 12px;
  width: 50%;
  height: 24px;
 font-size: 20px;
 text-align: center;
 margin: 5px 7px 0 25%;
}

.input__form_desc {
  width: 80%;
  border-radius: 12px;
  font-size: 16px;
  margin: 0 25px;
}


.button__form {
  margin: 10px 7px;
  font-size: 12px;
  background-color: var(--primary);
  border-radius: 12px;
  color: var(--white);
  width: 100px;
  height: 25px;
  transition: all 0.2s linear;
  &:hover {
    background-color: var(--primary-hover);
  }
}

.button__form__cancel {
  margin: 10px 15px;
  font-size: 12px;
  background-color: var(--orange);
  border-radius: 12px;
  color: var(--white);
  width: 100px;
  height: 25px;
  transition: all 0.2s linear;
  &:hover {
    background-color: var(--red);
  }
}