.wrapper {
  position: relative;
  display: block;
  margin-top: 24px;

  .textarea {
    width: 100%;
    border-radius: 8px;
    padding: 8px 16px;
    resize: none;
    outline: none;
    color: var(--white);
    background-color: var(--gray-600);
    transition-property: box-shadow;
    transition: 0.4s ease;
    box-shadow: 0 3px 12px #00000007;
    min-height: 200px;

    &::placeholder {
      color:var(--gray-400)
    }

    &:focus {
      box-shadow: 0 3px 6px #00000019;
    }

  }
  .error {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    color: var(--primary);
    font-size: 14px;
  }

}